[Desktop Entry]
Name=KetchupLand
GenericName=KetchupLand
Comment=A game with tomatoes, ketchup and mese.
Exec=ketchupland
Icon=ketchupland
Terminal=false
PrefersNonDefaultGPU=true
Type=Application
Categories=Game;Simulation;
StartupNotify=false
Keywords=sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;
